<div class="card">
    <div class="card__box-info">
        <h2>IP ADDRESS</h2>
        <p>{{data?.ip}}</p>
    </div>
    <span class="separador"></span>
    <div class="card__box-info">
        <h2>LOCATION</h2>
        <p>{{data?.location?.region}}</p>
    </div>
    <span class="separador"></span>
    <div class="card__box-info">
        <h2>TIMEZONE</h2>
        <p>{{data?.location?.timezone}}</p>
    </div>
    <span class="separador"></span>
    <div class="card__box-info">
        <h2>ISP</h2>
        <p>{{data?.isp}}</p>
    </div>
</div>